<!DOCTYPE html>
<html>
  <head>
    <title>Boring science</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'boring_science/application', media: 'all' %>
  </head>
  <body>
    <main>
      <%= link_to articles_path do %>
        <h1><%= @blog.title %></h1>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
