<!DOCTYPE html>
<html>
  <head>
    <title>Boring science</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <%= stylesheet_link_tag 'boring_science/application', media: 'all' %>
    <%= javascript_include_tag 'boring_science/application' %>
  </head>
  <body>
    <nav>
      <%= link_to articles_path do %>
        <h2><%= @blog.title %></h2>
      <% end %>
    </nav>
    <main>
      <%= flash[:success] %>

      <%= yield %>
    </main>
    <footer>
      Footer
    </footer>
  </body>
</html>
