<%= form_for article do |f| %>
  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>

  <div class='field'>
    <%= f.label :body %>
    <%= f.text_area :body, required: true, rows: 16 %>
  </div>

  <%= f.submit %>
<% end %>
