<% if boring_science_user %>
  <div class="boring-science-actions">
    <%= link_to 'Edit', edit_article_path(@article) %>
    &emsp;
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Delete article?' } %>
  </div>
<% end %>

<div class="boring-science-article">
  <h1 class="boring-science-title">
    <%= @article.title %>
  </h1>

  <div class="boring-science-metadata">
    <span class="boring-science-date">
      <% unless @article.published? %>
        (Unpublished)
      <% end %>

      <% if @article.publication_date %>
        <%= @article.publication_date.strftime('%B %-d, %Y') %>
      <% end %>
    </span>

    <span class="boring-science-author">
      <% if @article.author %>
        <%= @article.author.name %>
      <% end %>
    </span>
  </div>

  <div class="boring-science-body">
    <%= boring_science_markdown(@article.body).html_safe %>
  </div>
<div>
