<h2><%= @article.title %></h2>

<span class="date"><%= @article.created_at.strftime('%B %-d, %Y') %></span>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Delete article?' } %>

<%= boring_markdown(@article.body).html_safe %>
